body {
  text-align: center;
  background-color: #282828;
  background-size: contain;
  text-shadow: 0 0 4px #162521;
  color: #a89984;
  width: 870px;
  margin: auto;
}

#profile {
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', sans-serif;
  gap: 4px;
  align-items: center;
}

#name {
  color: #fabd2f;
  font-size: 80px;
  align-self: start;
  margin: 10px 0 -9px;
  border-bottom: 1px solid #7c6f64;
  text-shadow: 3px 3px 3px #fb4934;
}

#contact-info {
  color: #fe8019;
  font-size: 20px;
  align-self: start;
  margin: 15px 0 0 3px;
}

#current {
  font-family: 'Shadows Into Light', cursive;
  border: 2px solid #83a598;
  padding: 5px 30px;
  width: 1000px;
  margin: 100px 0 100px 0;
}

#previous {
  font-family: 'Fira Sans Condensed', sans-serif;
  border: 4px double #076678;
  padding: 5px 28px;
  width: 1000px;
  margin: 50px 0;
}

article > header > h1 {
  color: #fb4934;
  font-size: 40px;
}

section > h3 {
  color: #b8bb26 ;
  font-size: 30px;
}

section > ul > li {
  list-style-type: none;
  font-size: 26px;
  font-weight: bold;
}

header > time {
  color: #8ec07c;
  font-size: 26px;
}
